<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>编辑试卷</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: #F0EBD5;
        }
        ol{
            list-style-type:none;
            counter-reset:sectioncounter;
        }
        ol li:before {
        content: "问题"counter(sectioncounter)':';
        counter-increment:sectioncounter;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
            <div class="col-md-10">
            </div>
        </div>
        <div class="col-md-10">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <input type="button" value="添加" class="btn btn-success" id="add">
                        <input type="submit" value="保存" class="btn btn-primary">
                    </div>
                </div>
                <ol>

                {% for foo in data %}
                    <li>
                    <div class="head row">
                    <div class="col-md-5 col-md-offset-3">

                    <div><span>问题：</span><textarea cols="5" rows="2" class="form-control">{{ foo.paper_question__title }}</textarea></div>
                    <div style="width: 30%"><span>类型：</span><select class="form-control" >
                        {% for item in type %}

                            {% if item.title == foo.paper_question__question_type__title %}
                                <option value="{{ item.title }}" selected>{{ item.title }}</option>
                            {% else %}
                                <option value="{{ item.title }}">{{ item.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    </div>
                    </div>
                    <div class="col-md-1 col-md-offset-3 del"><strong>X</strong></div>
                    </div>
                    <hr style="height:3px;border:none;border-top:3px double black;">
                    </li>
                {% endfor %}

                </ol>
            </form>

        </div>
    </div>
</div>
    <script>
        <!--监听单选下拉框 若为单选则显示-->
        $(document).on('change','select',function () {
{#            console.log($(this).val());#}
            if($(this).val() === '单选') {
                {#                    console.log($(this).val());#}
                $(this).parent().append('<a class="add">+添加选项</a>');
                {% for foo in select %}
                    $(this).parent().append('<div><input type="checkbox" value="{{ foo.title }}">{{ foo.title }}{{ foo.score }}分</div>');
                {% endfor %}
            }

            else {
                $(this).siblings().remove('a');
                    $(this).siblings().remove('div')
                }



        });
        <!--初始选定为下拉框将选项显示-->
        $('option').each(function () {
{#            console.log($(this).val());#}
            if($(this).val() === '单选' && $(this).attr('selected') === 'selected')
                {
{#                    console.log($(this).val());#}
            $(this).parent().parent().append('<span class="add_item" style="color: #2e6da4">+添加选项</apan>');
            {% for foo in select %}
                $(this).parent().parent().append('<div><input type="checkbox" value="{{ foo.title }}">{{ foo.title }}{{ foo.score }}分<span class="del_item"><strong>X</strong></span></div>');
            {% endfor %}


        }
        });
        <!--监听删除问题-->
        $(document).on('click','.del',function () {
            $(this).parent().parent().remove()

        });
        <!--添加问题-->
        $('#add').on('click',function () {
            $('ol').append('                    <li>\n' +
                '                    <div class="head row">\n' +
                '                    <div class="col-md-5 col-md-offset-3">\n' +
                '                    <div><span>问题：</span><textarea cols="5" rows="2" class="form-control"></textarea></div>\n' +
                '                    <div style="width: 30%"><span>类型：</span><select class="form-control" >\n' +
                '                                <option value="打分1~10" selected>打分1~10</option>\n' +
                '                                <option value="单选">单选</option>\n' +
                '                                <option value="文本">文本</option>\n' +
                '                    </select>\n' +
                '                    </div>\n' +
                '                    </div>\n' +
                '                    <div class="col-md-1 col-md-offset-3 del"><strong>X</strong></div>\n' +
                '                    </div>\n' +
                '                    <hr style="height:3px;border:none;border-top:3px double black;">\n' +
                '                    </li>')
        });
    <!--监听+添加选项-->
    $(document).on('click','.add_item',function () {
        $(this).parent().parent().append('<div><input type="checkbox" value="n">随便多少2分<span class="del_item"><strong>X</strong></span></div></div>');
    });
    <!--监听删除del_item-->
    $(document).on('click','.del_item',function () {
        $(this).parent().remove()
    })
    </script>
</body>
</html>